.card-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;

    h2{
        font-size: 3rem;
    }

    .img{
        width: 60vw;
        height: 30vw;
    }

}