.footer {
    width: 100%;
    background-color: rgb(196, 239, 255);
    color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2rem;
    font-family: serif;
}